body{
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.background-container{
    width: 100%;
    height: 100vh;
    background-image: url(/bottle-truth-or-dare/images/background1.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* gap: 150px; */
    align-items: center;
}

/* top container */
.top-container img{
    width: 90px;
    cursor: pointer;
}
.top-container{
    display: flex;
    justify-content: space-between;
    width: 600px;
    align-items: center;
    margin-top: 25px;
}
#bottle{
    width: 200px;
    animation: spin 0.3s infinite linear;
    cursor: pointer;
}
.menu{
    width: 400px;
    height: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #d3b683;
    border-radius: 25px;
    border: 7px solid rgb(0, 0, 0);
    display: none;
    padding: 50px;
}
.menu.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 50px;
}

/* change bottle menu */
.bottle-theme{
    user-select: none;
    width: 300px;
    height:80px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000000;
    font-size: 22px;
    background-color: #845162;
    border-radius: 25px;
    border: 2px solid rgba(255, 0, 0, 0.274);
    cursor: pointer;
}
.bottle-image{
    width: 210px;
    height: 180px;
    border-radius: 25px;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    display: flex;
    border: 1px solid rgb(255, 255, 255);
    justify-content: center;
    align-items: center;
}
#bottleImage{
    padding: 0.1px;
}
.animation{
    animation: spin 10s infinite linear;
}
/* @keyframes spin {
    0%{
        transform:rotate(0deg);
    }
    100%{
        transform:rotate(360deg);
    }
} */
.bottle-image img{
    width: 120px;
}
.bottle-image:nth-child(1) img{
    width: 80px;
}
.bottle-image:nth-child(2) img{
    margin-bottom: -45px;
    width: 80px;
}
.bottle-image:nth-child(3) img{
    width: 80px;
}
/* .bottle-image:nth-child(4) img{
    width: 80px;
} */

.bottle-grid{
    width: 700px;
    height: 400px;
    background-color: rgba(255, 255, 255, 0.337);
    border: 1px solid black;
    border-radius: 25px;
    display: none;
    position: absolute;

    top: 35%;
}
.bottle-grid.subMenuBg{
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    place-items: center;
}
.copyright{
    text-align: center;
}